.element {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.element a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.element a:active,
.element a:hover {
  outline-width: 0;
}

.element strong {
  font-weight: inherit;
}

.element strong {
  font-weight: bolder;
}

.element h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.element img {
  border-style: none;
}

.element svg:not(:root) {
  overflow: hidden;
}

.element code,
.element kbd,
.element xmp {
  font-family: monospace;
  font-size: 1em;
}

.element hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.element input {
  font: inherit;
  margin: 0;
}

.element input {
  overflow: visible;
}

.element [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.element * {
  box-sizing: border-box;
}

.element input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.element a {
  color: #0366d6;
  text-decoration: none;
}

.element a:hover {
  text-decoration: underline;
}

.element strong {
  font-weight: 600;
}

.element hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

.element hr::before {
  display: table;
  content: "";
}

.element hr::after {
  display: table;
  clear: both;
  content: "";
}



.element td,
.element th {
  padding: 0;
}

.element h1,
.element h2,
.element h3,
.element h4,
.element h5,
.element h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.element h1 {
  font-size: 32px;
  font-weight: 600;
}

.element h2 {
  font-size: 24px;
  font-weight: 600;
}

.element h3 {
  font-size: 20px;
  font-weight: 600;
}

.element h4 {
  font-size: 16px;
  font-weight: 600;
}

.element h5 {
  font-size: 14px;
  font-weight: 600;
}

.element h6 {
  font-size: 12px;
  font-weight: 600;
}

.element p {
  margin-top: 0;
  margin-bottom: 10px;
}

.element blockquote {
  margin: 0;
}

.element ul,
.element ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.element ol ol,
.element ul ol {
  list-style-type: lower-roman;
}

.element ul ul ol,
.element ul ol ol,
.element ol ul ol,
.element ol ol ol {
  list-style-type: lower-alpha;
}

.element dd {
  margin-left: 0;
}

.element code, .element xmp {
  font-family: monospace;
  font-size: 12px;
}

.element .repo-config-option:not(:checked) ~ .time-remaining {
  display: none;
}

.element .pl-0 {
  padding-left: 0 !important;
}

.element .pl-1 {
  padding-left: 4px !important;
}

.element .pl-2 {
  padding-left: 8px !important;
}

.element .pl-3 {
  padding-left: 16px !important;
}

.element .pl-4 {
  padding-left: 24px !important;
}

.element .pl-5 {
  padding-left: 32px !important;
}

.element .pl-6 {
  padding-left: 40px !important;
}

.element::before {
  display: table;
  content: "";
}

.element::after {
  display: table;
  clear: both;
  content: "";
}

.element>*:first-child {
  margin-top: 0 !important;
}

.element>*:last-child {
  margin-bottom: 0 !important;
}

.element a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.element p,
.element blockquote,
.element ul,
.element ol,
.element dl,
.element table {
  margin-top: 0;
  margin-bottom: 16px;
}

.element hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.element blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.element blockquote>:first-child {
  margin-top: 0;
}

.element blockquote>:last-child {
  margin-bottom: 0;
}

.element kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

.element h1,
.element h2,
.element h3,
.element h4,
.element h5,
.element h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.element h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

.element h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

.element h3 {
  font-size: 1.25em;
}

.element h4 {
  font-size: 1em;
}

.element h5 {
  font-size: 0.875em;
}

.element h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.element ul,
.element ol {
  padding-left: 2em;
}

.element ul ul,
.element ul ol,
.element ol ol,
.element ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.element li>p {
  margin-top: 16px;
}

.element dl {
  padding: 0;
}

.element dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.element dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.element table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  overflow: auto;

  margin-left:auto;
  margin-right:auto;
}

.element table th {
  font-weight: 600;
}

.element table th,
.element table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.element table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.element table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.element img {
  max-width: 100%;
  box-sizing: content-box;
}

.element code, .element xmp {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

.element code::before,
.element code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.element .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

.element kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

.element :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.element .task-list-item {
  list-style-type: none;
}

.element .task-list-item+.task-list-item {
  margin-top: 3px;
}

.element .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.element hr {
  border-bottom-color: #eee;
}

.element body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  position: relative;
  padding-bottom: 200px;
}

.element body:last-child {
  margin-bottom: 50px;
}

.element header {
  margin-bottom: 1.0em;
}

.element header h1 {
  margin: 0px;
  padding: 0px;
  /* font-size: 3em; */
  font-size: 7vmin;
  border-bottom: none;
}

.element code, .element xmp {
  margin-bottom: 20px;
  padding-left: 20px;
  white-space: pre;
  display: block;
  color: #FFFFFF;
  background: #000000;
  word-wrap: break-word;
  overflow: auto;
}

.element g-row {
  display: block
}
.element g-col {
  display: inline
}

@media (min-width: 50em) {
  .element g-row {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  .element g-col {
    display: table-cell;
    padding-right: 2%;
  }
  .element g-col:last-child {
    padding-left: 2%;
    padding-right: 0;
  }
}

.element label {
  display: block;
  margin-bottom: 3px;
}

.element label>input[type=checkbox] {
  margin-top: 10px;
  margin-bottom: 15px;
}

.element label>input[type=radio] {
  margin-top: 10px;
  margin-bottom: 10px;
}

.element input:not([type]), .element input[type=password], .element input[type=email], .element input[type=url], .element input[type=date], .element input[type=month], .element input[type=time], .element input[type=datetime], .element input[type=datetime-local], .element input[type=week], .element input[type=tel], .element input[type=color], .element input[type=number], .element input[type=search], .element input[type=text], .element select, .element textarea {
  display: block;
  margin-bottom: 10px;
  padding: .3em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

.element input:not([type]):focus, .element input[type=password]:focus, .element input[type=email]:focus, .element input[type=url]:focus, .element input[type=date]:focus, .element input[type=month]:focus, .element input[type=time]:focus, .element input[type=datetime]:focus, .element input[type=datetime-local]:focus, .element input[type=week]:focus, .element input[type=tel]:focus, .element input[type=color]:focus, .element input[type=number]:focus, .element input[type=search]:focus, .element input[type=text]:focus, .element select:focus, .element textarea:focus {
  outline: 0;
  border-color: #129FEA;
}

.element select {
  display: block;
  margin-bottom: 10px;
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: #fff;
}

.element button {
  background-color: #0078e7;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: .5em 1em;
  text-decoration: none;
  border-radius: 2px;
  border: transparent;
}

.element footer {
  color: #636c72!important;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 1rem;
  background-color: #efefef;
  text-align: center;
}

.element html {
  height: 100%;
  box-sizing: border-box;
}

.element p>code {
    padding: 0;
    margin: 0;
    font-size: 85%;
    border-radius: 3px;
    display: inline-block;
    background-color: grey;
    word-break: keep-all;
    vertical-align: middle;
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

